@import "../colors.scss";

robot-view {
  position: relative;
  display: inline-block;
  width: calc(25% - 1.6em);
  padding: 0.8em 0.1em 0.5em 0.1em;
  margin: 0.2em 0.5em;
  border-bottom: 2px solid $blue;
  transition: all .5s ease;
  border-radius: 0.3em 0.3em 0 0;
  overflow: hidden;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
    transform: scale(1.03);

    .button-remove {
      right: 10px;
    }
  }

  &.deleting {
    transform: scale(0);
  }

  > .robot-name {

  }

  > .robot-price {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 0.7em;
  }

  .button-remove {
    transition: all .5s ease;
    position: absolute;
    right: -100%;
    opacity: 0.8;
    font-size: 0.7em;
    bottom: 3px;
  }
}
