<h4>Add a new robot on the market</h4>
<mat-input-container>
  <input type="text" matInput [(ngModel)]="robot.name" placeholder="Robot name">
</mat-input-container>
<mat-input-container>
  <input type="number" matInput [(ngModel)]="robot.price" placeholder="Price" (keyup.enter)="addRobot()">
</mat-input-container>
<button (click)="addRobot()">Add</button>
