@import "scss/mixins.scss";
@import "scss/robot/robot-create.scss";
@import "scss/robot/robot-view.scss";
@import "scss/robot/robot-list.scss";

body, html {
  margin: 0;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 16px;
  background: linear-gradient(to left, #ddd, #bbb, #ddd);
}

* {
  box-sizing: border-box;
  font-family: Verdana, serif;
  letter-spacing: -0.4px;
}

input { outline: none; }
textarea { resize: none; }
label[for] { cursor: pointer; }


h3 {
  text-align: center;
  font-size: 2em;
  border-bottom: 2px solid;
  width: 15em;
  margin: 0 auto 1.1em;
  padding: 1em 0 0.2em 0;
  color: #dad8d8;
  text-shadow: 1px 1px 5px black;
  text-transform: uppercase;
}

button {
  font-size: 0.8em;
  padding: 0.3em 1em;
  border-radius: 0.2em;
  border: none;
  cursor: pointer;
}

.block {
  display: block;
  margin: 1em;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  background: rgba(0,0,0,0.05);

  > h4 {
    margin: -0.5em -1em 0em -1em;
    background: linear-gradient(to top, rgba(0,0,0,0.1), transparent);
    color: rgba(0,0,0,0.4);
    text-transform: uppercase;
    padding: 0.4em 0.6em;
  }
}
